.form {
    color: var(--text-color);
    background-color: var(--background-color);
    border-color: var(--border-color);
    padding: 20px;
}

.title {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.error {
    color: red;
}

.input,
.textarea {
    /* color: var(--text-color);
      background-color: var(--background-color);
      border-color: var(--border-color); */
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid;
}

.button {
    /* color: var(--text-color);
    background-color: lightblue; */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}