
.wrapper {
    text-align: center;
    width: 100%;
    height: 100%;
}

.button {
    width: 100%;
    height: 100%;
    border-style: none;
    /* background-color: #ffd700; */
}

.button_disable{
    background-color: var(--disable-color);
    color: var(--disable-text-color);
}

.button_enable{
    color: var(--text-color);
    background-color: var(--secondary-color);
    /* background-color: #999999; */
}

.button_enable:active {
    background: var(--active-color);
    outline: none;
}