.wrapper {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    gap:5%;
    color: var(--text-color);
    background-color: var(--background-color);
    border-color: var(--border-color);
}

.infoWrapper {
    width: calc((100% - 5% - 15ch) * 2 / 3);
}

.name{
    font-size: 1rem;
    font-weight: bolder;
    display: block;
    text-align: justify;
}

.category {
    font-size: 0.95rem;
    display: block;
    text-align: justify;
}

.description {
    font-size: 1rem;
    width: calc((100% - 5% - 15ch) / 3);
    text-align: justify;
}

.total {
    font-size: 1rem;
    width: 15ch;
    text-align: right;
    font-family: monospace;
}