.wrapper {
    width: fit-content;
    max-width: 100px;
    height: fit-content;
    border: 2px solid var(--border-color);
    margin-top: auto;
    margin-left: 10px;
    /* background: white; */
    text-align: left;
    border-radius: 50%;
}

.caption {
    margin: 4px;
}