.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 2px solid var(--border-color);
    border-radius: 50%;
}

.caption {
    margin: 4px;
}