.wrapper{
    min-width: 150px;
    max-width: 300px;
}

.image{
    max-width: 100%;
}

.title {
    text-align: left;
    text-indent: 5%;
}

.price {
    text-align: right;
    white-space: nowrap;
}

.description {
    text-align: justify;
}

.button {
    /* float: right; */
    display: flex;
    align-items: center;
    justify-content: center;
}